/*--
Remember the cascade: 
 1. later styles override earlier ones 
 2. more specific styles override more general ones
--*/
html {
	font-size: 62.5%;
}
img {
	width: 100%;
	height: auto;

}
body {
  color: #444;
  font-size: 1.6rem;
  font-family: 'Gentium Book Basic', sans-serif;
}
p {
  margin-bottom: .67em;
}

nav, footer {
  background-color: rgb(132, 92, 160);
}
footer {
  text-align: center;
  padding: 1em 0 .3em 0;
  color: rgb(52, 10, 83);
}
/*-- Main Menu Styles--*/
nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 1em;
  margin-top: 0;
  margin-bottom: 0;
}
nav a:link, nav a:visited {
  color: rgba(52, 10, 83, 0.34);
  text-decoration: none;
}
nav a:hover, nav a:active  {
  color: rgb(52, 10, 83);
  text-decoration: underline;
}
nav a.active {
  color: rgb(52, 10, 83);
}
/*-- Hero Unit Styles--*/
header {
  width: 510px;
  margin: 2em auto;
}
header img {
  width: 100%;
  margin: 0 auto;
  
}
header h1 {
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}
.small {
  margin-top: 1em;
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  font-variant-caps: all-small-caps;
}
/*-- Article Styles--*/
article {
  width: 768px;
  font-size: 18px;
  line-height: 1.3;
  margin: 0 auto;
}
article figure {
  width: 39%;
  margin: 0 0 1.25em 1.25em;
  float: right;
}
article figcaption {
  font-size: 14px;
  font-weight: 100;
  font-family: 'Cambria';
}
.pagination {
  margin: 0em auto;
  width: 96%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 1em;
}
a.button {
  border: 4px solid rgba(52, 10, 83, 0.34);
  padding: .4em 1em .4em 1em;
  text-decoration: none;
  color: rgba(52, 10, 83, 0.34);
  border-radius: 200px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 80%;
}
a.button:hover, a.button:active {
  border: 4px solid rgb(52, 10, 83);
  text-decoration: none;
  color: rgb(52, 10, 83);
}
/*-- changes header and article width on small screens --*/
@media screen and (max-width: 768px) {
  header {width: 96%;}
  article {width: 96%;}
}
